{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

  <div class="shapes">
    <div class="shape circle">
      <svg class="js-shadow-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="#fff" cx="50" cy="50" r="50" fill-rule="evenodd"/></svg>
    </div>
    <div class="shape square">
      <svg class="js-shadow-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M0 0h100v100H0z" fill-rule="evenodd"/></svg>
    </div>
    <div class="shape triangle">
      <svg class="js-shadow-svg" viewBox="0 0 115 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="triangle" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon fill="#fff" points="57.5 0 115 100 -1.42108547e-14 100"></polygon>
        </g>
      </svg>
    </div>
  </div>

  <h2 class="title">
    {%- for letter in text|list -%}
      {%- if letter == ' ' -%}
        <span class="letter">&nbsp;</span>
      {%- else -%}
        <span class="letter js-shadow-el">{{ letter }}</span>
      {%- endif -%}
    {%- endfor -%}
  </h2>
{% endblock %}
