*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $white;
}

.letter {
  // text-shadow: 0.5vw 0 1.25vw rgba(0,0,0,0.1);
  // text-shadow: 0 0 1.25vw rgba(0,0,0,0.1);
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 1vw;
}

.square {
  width: 3vw;
  height: 3vw;
  box-shadow: 0.5vw 0.5vw 1.25vw 0 rgba(0,0,0,0.1);

  + #{&} {
    margin-left: 1vw;
  }

  &:first-child {
    border-radius: 50%;
  }
}

.triangle {
  position: relative;
  margin-left: 1vw;
  width: 3vw;

  &::before {
    content: '▲';
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    text-shadow: 0.5vw 0 1.25vw rgba(0,0,0,0.1);
  }
}
