*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $white;
}

$shapeHeight: rem(50);

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 1vw;
  width: 100%;
}

.shape {
  display: block;
  height: $shapeHeight;

  + #{&} {
    margin-left: 1vw;
  }
}

.circle,
.square {
  width: $shapeHeight * (100/100);
  @include svg-padding(100, 100);
}

.triangle {
  width: $shapeHeight * (115/100);
  @include svg-padding(115, 100);
}
